
<launch>
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />

    <arg name="sdf_robot_file" default="" />
    <arg name="robot_name" default="" />

    <!-- This Version was created due to some errors seen in the V1 that crashed Gazebo or went too slow in spawn -->
    <!-- Load the URDF into the ROS Parameter Server -->
    <!-- <param name="robot_description" command="cat $(arg sdf_robot_file)" /> -->

    <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-file $(rospack find robot_description)/models/box.sdf -sdf -x 0 -y 0 -z 1 -model my_model
" /> 
</launch>
